/* font family import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common css  */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    column-gap: 8px;
}

/* header css  */
header{
    background-color: #2D25A0;
    justify-content: center;
    
}
/* navbar css  */
.nav-bar{
    width: 1160px;
    height: 44px;
    align-items: center;
    display: flex;    
    justify-content: space-around;
    margin-top: 42px 124px 0 156px;
}
.nav-items{
    display: flex;
    column-gap: 15px;
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.login{
    color: white;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 67px 156px;
}
.banner-title h2{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.banner img{
    width: 556px;
    height: 438px;
}