/* font family import  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Common css  */
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.button{
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    column-gap: 8px;
}
p{
    color: #6C6C6C;
}

/* header css  */
header{
    background-color: #2D25A0;
    justify-content: center;
    
}
/* navbar css  */
.nav-bar{
    width: 1160px;
    height: 44px;
    align-items: center;
    display: flex;    
    justify-content: space-around;
    padding: 42px 124px 0 124px;
}
.nav-items{
    display: flex;
    column-gap: 15px;
}
.nav-item a{
    color: white;
    text-decoration: none;
}
.login{
    color: white;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 67px 156px;
}
.banner-title h2{
    color: white;
    font-size: 64px;
    font-weight: 700;
}

.banner img{
    width: 556px;
    height: 438px;
}

/* players section  */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:30px ;
    grid-row-gap: 27px;
    justify-content: space-between;
    margin: 70px 200px;
}
.player{
    /* width: 330px;*/
    max-height: 474px;
    padding: 15px;
    box-shadow:0px 1px 6px 0px grey;
    overflow-y: hidden;
    text-overflow: ellipsis;
}
.player img{
    width: 100%;
}


/* Highlights section  */
.highlights{
    display: flex;
    justify-content: center;
    margin: 160px;
}
.highlights-title{
    font-size: 50px;
}
.highlights img{
    width: 567px;
    height: 427px;
}
/* shop section  */
.shop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-bakground{
    
    display: flex;
    justify-content: center;
    position: relative;
    z-index: -1;
}

.shop-title {
    display: flex;
    background-color: rgba(77, 83, 83, 0.616);
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 55px;
    z-index: +1;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    transition: color .2s;
}
.shop-title:hover {
    background-color: rgba(77, 83, 83, 0.616);
    color: tomato;
}

.shop-title a{
    text-decoration: none;
    color: white;
    background-color: rgb(40, 170, 29);
    padding: 2px 15px;
    margin-bottom: 25px;
    transition: backbackground-color .5s, color 1s ;
}
.shop-title a:hover{
    background-color: rgb(38, 29, 170);
    color: rgb(221, 25, 25);
}

/* footer section  */
footer{
    /* width: 482px;
    height: 213px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* .logo{
    width: 482px;
    height: 213px;
} */
/* .logo img{
    width: 40%;
    
} */
.social-media ul{
    list-style: none;
    display: inline-flex;    
    column-gap: 20px;
    padding: 0 ;
}